.DesignThumbnail {
    font-size: 1.4em;
    width: 14em;
    min-width: 14em;
    height: 14em;
    min-height: 14em;
    overflow: hidden;
display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.DesignThumbnailImage {
    width: 11em;
    height: auto;
    overflow: hidden;
}
.DesignName {
    white-space: nowrap;
    text-align: center;
        font-style: normal;
        font-weight: normal;
    color: rgba(34,34,34,1);
}